h1{
    text-decoration: white;
    color:white;
}
body
{
    background-color: black;
}
a,a:link,a:visited,a:link:active, a:visited:active{
    color: white;
    text-decoration: none;
}
img{
    color:aliceblue;
    opacity: 0.2;
    height: 200px;
    width: 200px;
}
