h1{
    text-decoration: white;
    color:white;
}
body
{
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}